.tasks {
  height: 33vh;
}

.card {
  border-width: 0;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  transition: all 0.2s;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
  align-items: center;
  background-color: #fff;
  border-bottom-width: 1px;
  display: flex;
  height: 3.5rem;
  padding-bottom: 0;
  padding-right: 0.625rem;
  padding-top: 0;
}

.widget-subheading {
  color: #858a8e;
  font-size: 10px;
}

.card-header.card-header-tab .card-header-title {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.card-header .header-icon {
  font-size: 1.65rem;
  margin-right: 0.625rem;
}

.card-header.card-header-tab .card-header-title {
  align-items: center;
  display: flex;
  white-space: nowrap;
}

.btn-actions-pane-right {
  margin-left: auto;
  white-space: nowrap;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.scroll-area-sm {
  height: 33vh;
  overflow-x: hidden;
}

.list-group-item {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  display: block;
  margin-bottom: -1px;
  padding: 0.75rem 1.25rem;
  position: relative;
}

.list-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  padding-left: 0;
}

.todo-indicator {
  border-radius: 0.3rem;
  height: 60%;
  left: 0.625rem;
  opacity: 0.6;
  position: absolute;
  top: 20%;
  transition: opacity 0.2s;
  width: 4px;
}

.bg-warning {
  background-color: #f7b924 !important;
}

.widget-content {
  align-items: center;
  flex-direction: row;
  padding: 1rem;
}

.widget-content .widget-content-wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  position: relative;
}

.widget-content .widget-content-right.widget-content-actions {
  opacity: 0;
  transition: opacity 0.2s;
  visibility: hidden;
}

.widget-content .widget-content-right {
  margin-left: auto;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.btn {
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.btn-outline-success {
  border-color: #3ac47d;
  color: #3ac47d;
}

.btn-outline-success:hover {
  background-color: #3ac47d;
  border-color: #3ac47d;
  color: #fff;
}

.btn-outline-success:hover {
  background-color: #3ac47d;
  border-color: #3ac47d;
  color: #fff;
}

.btn-primary {
  background-color: #3f6ad8;
  border-color: #3f6ad8;
  color: #fff;
}

.btn {
  outline: none !important;
  position: relative;
  transition: color 0.15s, background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}

.card-footer {
  background-color: #fff;
}
